<!doctype html>
<html lang="en">
    
<header class="wrap">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <h1><a href="{{ url_for('index') }}">Job Forum</a></h1>

  <nav class="nav-top">
    <a href="{{ url_for('index') }}" class="active">Forum</a>
    <a href="#">Official Posts</a>
  </nav>

  <nav class="nav-sub">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('profile') }}">Profile</a>

  </nav>
</header>

<body>
<main class="wrap">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash">
            {% for m in messages %}
                <li>{{ m }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}
  {% block container %}{% endblock %}
</main>
<footer class="wrap"><small>© Job Forum</small></footer>
</body>

</html>
