{% extends "base.html" %} {% block container %}
<h2>Official Job Posts</h2>

<div class="job-list">
  {% for job in jobs %}
  <div class="job-card">
    <h3>{{ job.title }}</h3>
    <p><strong>Company:</strong> {{ job.company }}</p>
    <p><strong>Date Posted:</strong> {{ job.datePosted }}</p>
    <p><strong>Location:</strong> {{ job.location[:2]|join(', ') }}</p>

    <a href="{{ url_for('view_job', job_id=job._id|string) }}">View Details</a>
    <a href="{{ job.url }}" target="_blank">Apply</a>

    {% if job._id in user_jobs %}
    <button disabled>Added to My Jobs</button>
    {% else %}
    <form
      action="{{ url_for('add_to_my_jobs', job_id = job._id|string) }}"
      method="post"
    >
      <button type="submit">Add to My Jobs</button>
    </form>
    {% endif %}
  </div>
  {% endfor %}
</div>

<!-- Pagination controls -->
<div class="pagination">
  {% if page > 1 %}
  <a href="{{ url_for('official_home', page=page-1) }}">Previous</a>
  {% endif %} {% if has_next %}
  <a href="{{ url_for('official_home', page=page+1) }}">Next</a>
  {% endif %}
</div>
{% endblock %}
