{% extends "base.html" %} {% block container %}
<div class="h2-container">
  <h2>Latest Jobs at Firepit</h2>
</div>

<form method="GET" action="{{ url_for('official_home') }}" class="search-bar">
  <input
    type="text"
    name="q"
    placeholder="Search jobs..."
    value="{{ request.args.get('q', '') }}"
  />
  <button type="submit">Search</button>
</form>

<div class="job-list">
  {% for job in jobs %}
  <div class="job-card">
    <h3>{{ job.title |safe}}</h3>
    <p><strong>Company:</strong> {{ job.company |safe }}</p>
    <p><strong>Date Posted:</strong> {{ job.datePosted }}</p>
    <p>
      <strong>Location:</strong>
      {% if job.location %} {{ job.location[:2] | join(', ') }} {% else %} N/A
      {% endif %}
    </p>
    {% if search %}
    <p><strong>Employment Type:</strong> {{ job.employmentType | safe}}</p>
    <p><strong>Description:</strong> {{ job.description|safe}}</p>
    <p><strong>Qualifications:</strong> {{ job.qualifications|safe}}</p>
    {% endif%}

    <div class="job-actions">
      <a
        href="{{ url_for('view_job', job_id=job['_id'], next='official_home') }}"
        class="btn-action btn-view"
      >
        View Details
      </a>

      <a href="{{ job['url'] }}" target="_blank" class="btn-action btn-apply"
        >Apply</a
      >
    </div>

    {% if job['_id'] in user_jobs %}
    <button class="btn added" disabled>✓ Added</button>
    {% else %}
    <form
      action="{{ url_for('add_to_my_jobs', job_id=job['_id']) }}"
      method="post"
    >
      <button class="btn">Add to My Jobs</button>
    </form>
    {% endif %}
  </div>
  {% endfor %}
</div>

<!-- Pagination controls -->
<div class="pagination">
  {% if page > 1 %}
  <div class="no-box">
    <a
      style="float: left; text-decoration: none"
      href="{{ url_for('official_home', page=page-1) }}"
      >Previous</a
    >
  </div>
  {% endif %} {% if has_next %}
  <div class="no-box">
    <a
      style="float: right; text-decoration: none"
      href="{{ url_for('official_home', page=page+1) }}"
      >Next</a
    >
  </div>
  {% endif %}
</div>
<script>
  // Save scroll position before navigating away
  window.addEventListener("beforeunload", () => {
    localStorage.setItem("scrollPosition", window.scrollY);
  });

  // Restore it when coming back
  window.addEventListener("load", () => {
    const scrollPos = localStorage.getItem("scrollPosition");
    if (scrollPos) {
      window.scrollTo({
        top: parseInt(scrollPos),
        behavior: "smooth",
      });

      localStorage.removeItem("scrollPosition");
    }
  });
</script>

{% endblock %}
